<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css"/>

    <meta charset="UTF-8">
    <title>editPlot</title>
</head>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Parzelle hinzufügen</h1>
</div>

<div align="center" th:text="${error}"></div>

<div>
    <form method="post" th:action="@{/addPlot}">
        <table  id="myTable">

            <tbody>
            <tr>
                <td> <label for="name">Nummer</label> </td>
                <td><input class="text_bgImage" id="name" name="name" type="number" min="1" required="required"/></td>
            </tr>
            <tr>
                <td> <label for="size">Größe</label> </td>
                <td><input class="text_bgImage" id="size" name="size" type="number" min="1" required="required"/></td>
            </tr>
            <tr>
                <td> <label for="description">Beschreibung</label> </td>
                <td><input class="text_bgImage" id="description" name="description" type="text" required="required"/></td>
            </tr>
            </tbody>
        </table>
        <div class="button-section">

            <button  type="submit"  class="button" >Hinzufügen</button>

        </div></form>
</div>


<div th:include="navigation :: footer"></div>
</body>
</html>
