<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
	<link th:href="@{../resources/css/tenantdetailsTable.css}" rel="stylesheet"
		  href="../resources/css/tenantdetailsTable.css" type="text/css">



    <meta charset="UTF-8">
    <title>editPlot</title>
</head>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Parzellenbearbeitung</h1>
</div>
<!-- Plot-Info, ROLES: ? -->
<div  sec:authorize="hasAnyRole('Vorstandsvorsitzender')">
    <form method="post" th:action="@{/editedPlot}">
		<div class="header-title"><h2>Allgemein</h2></div>
<table  id="myTable">

        <tbody>
        <tr>
            <th> <label for="size">Größe</label> </th>
            <td><input class="text_bgImage" id="size" name="size" th:value="${plot.getSize()}" type="number" min="1" required="required"/></td>
        </tr>
        <tr>
            <th> <label for="description">Beschreibung</label> </th>
            <td><input class="text_bgImage" id="description" name="description" th:value="${plot.getDescription()}" type="text" required="required"/></td>
        </tr>
        <tr>
            <th> <label for="number">Schätzwert</label> </th>
            <td><input class="text_bgImage" id="number"  name="estimator" th:value="${plot.getEstimator().getNumber()}" type="number" min="1.00" step="0.01" required="required"/></td>
            <input type="hidden" id="plotID" name="plotID" th:value="${plot.getId()}">
        </tr>
        </tbody>
    </table>
    <div class="button-section">

        <button  type="submit"  class="button" >Speichern</button>

    </div></form>
</div>
<br><br>


<div th:if="${procedureExists}">



<!-- Wasserstand, ROLES: Wassermann -->
	<div  sec:authorize="hasAnyRole('Wassermann', 'Vorstandsvorsitzender')">
		<div class="header-title"><h2>Wasserstand</h2></div>
		<form method="post" th:action="@{/procedureDetails/editWatercount}">
		<table  id="waterTable">

			<tbody>
			<tr>
				<th> <label for="oldWater">Wasserstand Vorjahr</label> </th>
				<td><input class="text_bgImage" id="oldWater" name="oldWater" th:value="${oldWater}" type="number" readonly/></td>
			</tr>
			<tr>
				<th> <label for="water">Wasserstand aktuell</label> </th>
				<td><input class="text_bgImage" id="water" name="water" th:value="${procedure.getWatercount()}" type="text" required="required"/></td>
			</tr>
			</tbody>
		</table>
		<input type="hidden" id="procedureId" name="procedureId" th:value="${procedure.getId()}">
		<div class="button-section">

			<button  type="submit"  class="button" >Speichern</button>

		</div></form>
	</div>
	<br><br>


<!-- Stromstand, ROLES: Teanant, Vorstandsvorsitzender -->
	<div class="header-title"><h2>Stromstand</h2></div>
	<div  sec:authorize="hasAnyRole('Vorstandsvorsitzender','Hauptpächter')" th:if="${tenantOrBoss}">
		<form method="post" th:action="@{/procedureDetails/editPowercount}">
		<table  id="powerTable">

			<tbody>
			<tr>
				<th> <label for="oldPower">Stromstand Vorjahr</label> </th>
				<td><input class="text_bgImage" id="oldPower" name="oldPower" th:value="${oldPower}" type="number" readonly/></td>
			</tr>
			<tr>
				<th> <label for="power">Stromstand aktuell</label> </th>
				<td><input class="text_bgImage" id="power" name="power" th:value="${procedure.getPowercount()}" type="text" required="required"/></td>
			</tr>
			</tbody>
		</table>
		<input type="hidden" id="procedureId" name="procedureId" th:value="${procedure.getId()}">
		<div class="button-section">

			<button  type="submit"  class="button" >Speichern</button>

		</div></form>
	</div>

</div>

<div th:include="navigation :: footer"></div>
</body>
</html>
