<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css"/>
    <script th:src="@{../resources/css/js/search.js}"
            src="../resources/css/js/search.js"> </script>

    <meta charset="UTF-8">
    <title>editPlot</title>
</head>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Parzellenbearbeitung</h1>
</div>
<!-- Plot-Info, ROLES: ? -->
<div  sec:authorize="hasAnyRole('Vorstandsvorsitzender')">
    <form method="post" th:action="@{/editedPlot}">
    <table  id="myTable">

        <tbody>
        <tr>
            <td> <label for="size">Größe</label> </td>
            <td><input class="text_bgImage" id="size" name="size" th:value="${plot.getSize()}" type="number" required="required"/></td>
        </tr>
        <tr>
            <td> <label for="description">Beschreibung</label> </td>
            <td><input class="text_bgImage" id="description" name="description" th:value="${plot.getDescription()}" type="text" required="required"/></td>
        </tr>
        <tr>
            <td> <label for="number">Schätzwert</label> </td>
            <td><input class="text_bgImage" id="number" name="estimator" th:value="${plot.getEstimator().getNumber().doubleValue()}" type="number" required="required"/></td>
            <input type="hidden" id="plotID" name="plotID" th:value="${plot.getId()}">
        </tr>
        </tbody>
    </table>
    <div class="button-section">

        <button  type="submit"  class="button" >Speichern</button>

    </div></form>
</div>
<div th:if="${procedureExists}">
<!-- Wasserstand, ROLES: Wassermann -->
<div  sec:authorize="hasAnyRole('Wassermann', 'Vorstandsvorsitzender')">
    <form method="post" th:action="@{/procedureDetails/editWatercount}">
    <table  id="waterTable">

        <tbody>
        <tr>
            <td> <label for="oldWater">Wasserstand Vorjahr</label> </td>
            <td><label class="text_bgImage" id="oldWater" name="oldWater" th:value="${oldWater}" type="number"/></td>
        </tr>
        <tr>
            <td> <label for="water">Wasserstand aktuell</label> </td>
            <td><input class="text_bgImage" id="water" name="water" th:value="${procedure.getWatercount()}" type="text" required="required"/></td>
        </tr>
        </tbody>
    </table>
	<input type="hidden" id="procedureId" name="procedureId" th:value="${procedure.getId()}">
    <div class="button-section">

        <button  type="submit"  class="button" >Speichern</button>

    </div></form>
</div>

</div>

<div th:include="navigation :: footer"></div>
</body>
</html>
