<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css">
    <link th:href="@{../resources/css/dropdown.css}" rel="stylesheet"
          href="../resources/css/dropdown.css" type="text/css">

    <title>Übersicht</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"/>
    <div class="header-title">
        <h1>Details</h1>
    </div>

    <div align="left" th:if="${rents} and not ${plots.isEmpty()}">
        <div class="button-section" th:each="plot : ${plots.keySet()}">
            <button class="button" th:href="'/myPlot/' + ${plot}" th:text="${plots.get(plot)}"> Text </button>
            <input type="hidden" id="rentedPlot" name="plot" th:value="${plot}">
        </div>
    </div>
    <div align="center">
        <table>
            <thead>
                <tr>
                    <th>Informationen zu</th>
                    <th>Gespeicherte Daten <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">. . .</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a th:if="${canModify}">Zählerstände eintragen</a>
                            <a th:if="${canSeeBills}">Rechnungen Anzeigen</a>
                            <a th:if="not ${rented}" th:href="${'/createApplication/' + plotID}" >Bewerben</a>
                            <a th:if="not ${rented}" th:href="'/application'">Bewerbungen anzeigen</a>
                            <a th:if="${canModify}" th:href="'/editPlot/' + ${plotID}">Plot Bearbeiten</a>
                            <a th:if="${canCancel}" th:href="'/cancelPlot/' + ${plotID}">Kündigen</a>
                        </div>
                    </div>
                    </th>

                </tr>
            </thead>
            <tbody>
            <tr><th>Name</th> <td align="center" th:text="${plotName}"> Text </td></tr>
            <tr><th>Größe</th> <td align="center" th:text="${plotSize}"> Text </td></tr>
            <tr><th>Beschreibung</th> <td align="center" th:text="${plotDescription}"> Text </td></tr>
            <tr th:if="not ${rented}"><th>Schätzwert</th> <td align="center" th:text="${plotPrice}"> Text </td></tr>
            <tr th:if="${rented}"><th>Hauptpächter</th> <td align="center" th:text="${mainTenant.getForename()} + ' ' + ${mainTenant.getSurname()} + ${mainTenantRoles}"> Text </td></tr>
            <tr th:if="${rented} and not ${subTenants.isEmpty()}"><th>Nebenpächter</th> <td></td></tr>
            <tr th:if="${rented} and not ${subTenants.isEmpty()}" th:each="tenant : ${subTenants.keySet()}"><th></th> <td align="center" th:text="${tenant.getForename()} + ' ' + ${tenant.getSurname()} + ${subTenants.get(tenant)}"> Text </td></tr>
            <tr th:if="${rented} and ${canSeeWorkhours}"><th>Arbeitsstunden</th> <td align="center" th:text="${workHours}"> Text </td></tr>
            </tbody>
           <!-- <div class="button-section">
                <button class="button" th:if="${canModify}">Zählerstände eintragen</button>
                <button class="button" th:if="${canSeeBills}">Rechnungen anzeigen</button>
                <a th:href="'/editPlot/' + ${plotID}"> <button class="button" >Bearbeiten</button></a>
                <input type="hidden" id="plot" name="plot" th:value="${plot}">
            </div> -->

        </table>

       <!-- <div class="button-section" th:if="not ${rented}">
            <a th:href="${'/createApplication/' + plotID}" ><button class="button" >Bewerben</button>
            </a>
			<button class="button" onclick="location.href= '/application'" th:if="${canSeeApplications}">Bewerbungen anzeigen</button>

        -->

    </div>


    </div>



    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


</div>
<div th:include="navigation :: footer"></div>
</body>
</html>
