<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{../resources/css/style.css}" type="text/css"/>
    <link href="../resources/css/dropdown.css" rel="stylesheet"
          th:href="@{../resources/css/dropdown.css}" type="text/css">
    <script src="../resources/css/js/dropdown.js"
            th:src="@{../resources/css/js/dropdown.js}"></script>

    <title>Übersicht</title>
</head>
<body>

<nav th:include="navigation :: navigation"/>
<div>
    <div class="header-title">


        <h1>Übersicht</h1>
    </div>
</div>

<center>
    <div>
        <table>
            <div th:each="color : ${colors.keySet()}">
                <td>&nbsp</td>
                <td th:style="'background-color: ' + ${color} "> &nbsp &nbsp</td>

                <td th:text="${colors.get(color)}"> Text &nbsp</td>
            </div>


        </table>
    </div>
</center>

<table align="center">
    <td>
        <form method="post" sec:authorize="hasAnyRole('Vorstandsvorsitzender', 'Stellvertreter')"
              th:action="@{/addchairman}"
              th:if="${modify}">
            <label>
                <select name="tenantID">
                    <option value="">---</option>
                    <option th:each="tenant : ${chairmenList}" th:text="${tenant.forename} + ' ' + ${tenant.surname}"
                            th:value="${tenant.id}">
                    </option>
                </select>
            </label>
            <div class="button-section">
                <input class="button" sec:authorize="hasAnyRole('Vorstandsvorsitzender', 'Stellvertreter')"
                       type="submit" value="Auswählen">
            </div>
        </form>
    </td>
</table>

<form method="post" role="form" sec:authorize="hasAnyRole('Vorstandsvorsitzender', 'Stellvertreter')"
      th:action="@{/chairmenOverview}" th:if="${canAddChairman}" th:object="${updateChairmanForm}">
    <div class="plotOverview">
        <div class="plotList" th:each="plot : ${plotList}">
            <div class="plot" th:style="'background: ' + ${plotColors.get(plot)}">
                <a th:href="'/plot/' + ${plot.getId()}" th:if="${userRights.get(plot)}" th:text="${plot.getName()}"
                   title="Details anzeigen"> Text </a>
                <span th:text="${plot.getName()}" th:unless="${userRights.get(plot)}"> Text </span>
                <input th:checked="${administratedPlots.contains(plot)}" th:name="updatedPlots" th:value="${plot.id}"
                       type="checkbox">
            </div>
        </div>
    </div>
    <div class="button-section" sec:authorize="hasAnyRole('Vorstandsvorsitzender', 'Stellvertreter')">
        <input th:name="tenantID" th:value="${tenant}" type="hidden">
        <button class="ui button" type="submit">Hinzufügen</button>
    </div>
</form>
<br>
<div class="plotOverview" th:if="not ${canAddChairman}">
    <div class="plotList" th:each="plot : ${plotList}">
        <div class="plot" th:style="'background: ' + ${plotColors.get(plot)}">
            <a th:href="'/plot/' + ${plot.getId()}" th:if="${userRights.get(plot)}" th:text="${plot.getName()}"
               title="Details anzeigen"> Text </a>
            <span th:text="${plot.getName()}" th:unless="${userRights.get(plot)}"> Text </span>
        </div>
    </div>
</div>

<div class="button-section">
    <button class="button" onclick="location.href='/plotRegistration'" th:if="${canAdd}">Parzelle hinzufügen</button>
</div>

</div>
<div th:include="navigation :: footer"></div>
</body>
</html>

