<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/dropdown.css}" rel="stylesheet"
          href="../resources/css/dropdown.css" type="text/css">
    <script th:src="@{../resources/css/js/dropdown.js}"
            src="../resources/css/js/dropdown.js"> </script>

    <title>Übersicht</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"/>
    <div class="header-title">
        <h1>Übersicht</h1>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Ansicht...</button>
        <div id="myDropdown" class="dropdown-content">
            <a>Allgemein </a>
            <a>nach Obmann</a>

        </div>
    </div>

    <div class="plotOverview">
        <div class="plotList" th:each="plot : ${plotList}">
            <div class="plot" th:style="'background: ' + ${plotColors.get(plot)}">
                <a title="Details anzeigen" th:text="${plot.getName()}" th:if="${userRights.get(plot)}" th:href="'/plot/' + ${plot.getId()}"> Text </a>
                <span th:unless="${userRights.get(plot)}" th:text="${plot.getName()}"> Text </span>
            </div>
        </div>
    </div>
    <div class="button-section">
        <button class="button" th:if="${canAdd}" onclick="location.href='/plotRegistrationForm'">Parzelle hinzufügen</button>
    </div>
   <center> <div>
        <table >
            <tr>
                <td style="background-color: #7CB342 "> &nbsp &nbsp</td>
                <td>frei &nbsp </td>
                <td style="background-color: #546E7A"> &nbsp &nbsp </td>
                <td>bewohnt &nbsp</td>
                <span sec:authorize="isAuthenticated()">
                    <td style="background-color: #FDD835"> &nbsp &nbsp</td>
                    <td>Vorstandsvorsitzender &nbsp</td>
                    <td style="background-color: #039BE5"> &nbsp &nbsp</td>
                    <td>Obmann</td>
                </span>
            </tr>
        </table>
    </div>
   </center>

</div>
<div th:include="navigation :: footer"></div>
</body>
</html>

