<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantdetailsTable.css}" rel="stylesheet"
          href="../resources/css/tenantdetailsTable.css" type="text/css">
    <link th:href="@{../resources/css/modifyTenant.css}" rel="stylesheet"
          href="../resources/css/modifyTenant.css" type="text/css">
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <div class="header-title">
        <h1> Termin Bearbeiten</h1>
    </div>

    <div>
        <div class="header-title">
            <h1>Parzellen entfernen</h1>
        </div>
            <table>
                <tr>
                    <th>Parzelle</th>
                    <th>Löschen</th>
                </tr>
                <tr th:each="plot: ${plotListForWorkAssignment}">
                    <td th:text="${plot.description}">Plot</td>
                    <form method="post" th:action="@{/removePlotOfWorkAssignment}">
                        <td hidden><input hidden id="plotID" name="plotID" th:value="${plot.getId()}" required="required"/></td>
                        <td hidden><input class="text_bgImage" id="assignmentID" name="assignmentID" th:value="${(workAssignment.getId())}"  type="number" required="required"/></td>
                        <td><button style="font-size:13px; height: 35px; width: 120px" type="submit" class="ui button">Löschen</button></td>
                    </form>
                </tr>
            </table>

    </div>
    <br/>
    <br/>
    <br/>
    <div>
        <div class="header-title">
            <h1>Termin bearbeiten</h1>
        </div>
        <form method="post" th:action="@{/modifiedWorkAssignment}">
            <table>

                <tr> </td><td style="font-size:25px; background-color: white;"> <a th:title="Abbrechen" th:href="'/listOfAssignments'" > &#10060; </a> </td></tr>
                <div>
                    <tr>
                        <td hidden> <label for="id">ID</label> </td>
                        <td hidden><input class="text_bgImage" id="id" name="id" th:value="${(workAssignment.getId())}"  type="number" required="required"/></td>
                    </tr>
                </div>
                <div>
                    <tr>
                        <th><label for="title">Titel</label></th>
                        <td>  <input class="text_bgImage" id="title" name="title" th:value="${(workAssignment.getTitle())}"  type="text" required="required"/>
                    </tr>
                </div>
                <div>
                    <tr>
                        <th><label for="description">Beschreibung</label></th>
                        <td>  <input class="text_bgImage" id="description" name="description" th:value="${(workAssignment.getDescription())}"  type="text" required="required"/>
                    </tr>
                </div>
                <div>
                    <tr>
                        <th><label for="workHours">Arbeitsstunden</label></th>
                        <td><input class="text_bgImage" id="workHours" name="workHours" th:value="${(workAssignment.getWorkHours())}" type="text" required="required"/>
                    </tr>
                </div>
            </table>
            <div class="button-section">

                <button  type="submit" class="button" >Änderungen speichern</button>
            </div>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>
