<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="cookies.js"></script>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{../resources/css/style.css}" type="text/css"/>
    <link href="../resources/css/popup.css" rel="stylesheet"
          th:href="@{../resources/css/popup.css}" type="text/css"/>

    <title>Cookies</title>

    <script>
        function closemodal() {
            document.getElementById("open-modal").style.display = "none";
        }
    </script>

</head>

<body>

<div class="modal-window" id="open-modal">
    <div>
        <div class="header-title">
            <h1>Cookies</h1>
        </div>
        <center>
            <div>Diese Seite verwendet Cookies. <br>
                Bitte klicken Sie auf Zustimmen um fortzufahren!
            </div>
            <div class="button-section">
                <button class="button" onclick="closemodal()">Zustimmen</button>
            </div>
        </center>

    </div>
</div>
</body>


</body>

</html>


