<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

	<script th:src="@{/webjars/jquery/jquery.min.js}"
			src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
			src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
	<link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
		  href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
	<link th:href="@{../resources/css/style.css}" rel="stylesheet"
		  href="../resources/css/style.css" type="text/css"/>

	<title>Welcome</title>


</head>
	<body>

	<div class="ui-container">
		<nav th:include="navigation :: navigation"/>
		<div class="header-title">
			<h1>Herzlich Willkommen im K(l)einGarten</h1>
		</div>
		<div class="news-section">
			<table>
				<tr>
					<td>
						<img class="event-pics" src="../resources/css/pics/glasses-919071_1280.jpg" alt="fest"/>
					</td>
					<td>
						<div class="news-section">
							<div id="entries" class="mx-auto">
								<div th:each="entry, it : ${newsEntries}" th:with="index = ${it.count}">
									<div class="card" th:fragment="entry" th:id="entry+${entry.id}">
										<div class="card-body">
											<blockquote class="entrytext" th:text="${entry.text}"></blockquote>
										</div>
										<div class="card-footer">
											<div class="date" th:text="${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</div>
										</div>
									</div>
								</div>
							</div>

							<br/>

							<form method="post" class="ui form" role="form" id="form" th:action="@{/home}" th:object="${newsForm}">
								<div class="field">
									<label for="text" th:text="#{news.form.text}">Neuer Newseintrag</label><br/>
									<textarea id="text" name="text" cols="45" rows="8" th:field="*{text}" th:errorclass="is-invalid" required="required"></textarea>
									<div class="ui error message" th:if="${#fields.hasErrors('text')}" th:text="#{news.form.text.required}">Bitte geben Sie eine Nachricht an.</div>
								</div>
								<input type="submit" class="ui submit button" th:value="#{news.form.submit}" value="Abschicken" />
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<span sec:authorize="!isAuthenticated()">
		<div th:include="news/Cookies.html"></div>
	</span>

	<div th:include="navigation :: footer"></div>
	</body>
</html>
