<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{../resources/css/style.css}" type="text/css"/>

    <script>
        function hideNewsEditForm(id) {
            document.getElementById("edit-form-entry-" + id).style.display = "none";
            document.getElementById("entry-" + id).style.display = "inline";
            document.getElementById("news-entry-form").style.display = "inline";
            location.reload();
        }

        function showNewsEditForm(id) {
            document.getElementById("edit-form-entry-" + id).style.display = "inline";
            document.getElementById("entry-" + id).style.display = "none";
            document.getElementById("news-entry-form").style.display = "none";
        }
    </script>

    <title>Welcome</title>
</head>
<body>
<div class="ui-container">
    <nav th:include="navigation :: navigation"/>

    <div class="header-title">
        <h1>Herzlich Willkommen im K(l)einGarten</h1>
    </div>

    <div class="news-section">
        <table>
            <tr>
                <td>
                    <img alt="fest" class="event-pics" src="../resources/css/pics/glasses-919071_1280.jpg"/>
                </td>
                <td>

                    <div class="news-section">
                        <div class="header-title">
                            <h2>News</h2>
                        </div>
                        <div class="mx-auto" id="entries">
                            <div th:each="entry, it : ${newsEntries}" th:with="index = ${it.count}">
                                <div class="card"
                                     style="box-shadow: 0px 0px 88px 3px rgba(0,0,0,0.05); padding: 5px; border-radius: 10px; border-color: #043353; border-width: 1px; border-style: solid; width: 550px; margin-left: 20px"
                                     th:fragment="entry" th:id="'entry-'+${entry.id}">
                                    <div class="card-header">
                                        <form method="post"
                                              sec:authorize="hasRole('Vorstandsvorsitzender')"
                                              style="display: inline-block"
                                              th:action="@{/home/news/deleteEntry/{id}(id=${entry.id})}">
                                            <button class="btn btn-sm float-right"
                                                    style="font-size: 18px; background: white; border: none;"
                                                    th:title="#{news.entryEdit.delete}">&#10060;
                                            </button>
                                        </form>

                                        <button class="btn btn-sm float-right"
                                                sec:authorize="hasRole('Vorstandsvorsitzender')"
                                                style=" display: inline-block;font-size: 20px; background: white; border: none;"
                                                th:onclick="'showNewsEditForm(\'' + ${entry.id} + '\');'">&#9998;
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="entrytext" th:text="${entry.text}"></blockquote>
                                    </div>
                                    <div class="card-footer">

                                    </div>
                                </div>

                                <!-- style.display=none keeps this form hidden until showNewsEditForm() is called -->
                                <div style="display:none" th:id="'edit-form-entry-'+${entry.id}">
                                    <form class="ui form" method="post" sec:authorize="hasRole('Vorstandsvorsitzender')"
                                          th:action="@{/home/news/editEntry/{id}(id=${entry.id})}">
                                        <div class="field">
                                            <label for="text" th:text="#{news.entryEdit.text}">Newseintrag
                                                Bearbeiten</label><br/>
                                            <textarea cols="45" id="text" name="text" required="required" rows="8"
                                                      th:text="${entry.text}" th:value="${entry.text}"></textarea>
                                        </div>
                                        <input class="ui submit button" th:value="#{news.entryEdit.submit}"
                                               type="submit"
                                               value="Aktualisieren"/>
                                    </form>
                                    <br/>
                                    <button class="ui button"
                                            th:onclick="'hideNewsEditForm(\'' + ${entry.id} + '\');'"
                                            th:value="#{news.entryEdit.back}">Zurück
                                    </button>
                                </div>
                                <br/>
                            </div>
                        </div>

                        <br/>

                        <form class="ui form" id="news-entry-form" method="post"
                              sec:authorize="hasRole('Vorstandsvorsitzender')"
                              th:action="@{/home/news/addEntry}">
                            <div class="field">
                                <label for="text" th:text="#{news.entryForm.text}">Neuer Newseintrag</label><br/>
                                <textarea cols="45" id="text" name="text" required="required" rows="8"></textarea>
                            </div>
                            <input class="ui submit button" th:value="#{news.entryForm.submit}" type="submit"
                                   value="Abschicken"/>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<span sec:authorize="!isAuthenticated()">
	<div th:include="news/Cookies.html"></div>
</span>

<div th:include="navigation :: footer"></div>
</body>
</html>
