<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantdetailsTable.css}" rel="stylesheet"
          href="../resources/css/tenantdetailsTable.css" type="text/css">
    <title>changePassword</title>
</head>
<body>
<nav th:include="navigation :: navigation"/>
<div class="header-title">
    <h1>Passwort ändern</h1>
</div>
<form method="post" role="form" id="form" >
    <table>
        <tr>
            <th>
                <label for="old">altes Passwort</label>
            </th>
            <td>
                <input class="text_bgImage" id="old"  type="email" required="required"/>
            </td>

        </tr>
        <tr>
            <th>
                <label for="new">neues Passwort</label>
            </th>
            <td>
                <input class="text_bgImage" id="new"  type="email" required="required"/>
            </td>

        </tr>
        <br/>
        <tr>
            <th>
                <label for="againemail">neues Passwort</label>
            </th>
            <td>
                <input class="text_bgImage" id="againemail"  type="email" required="required"/>
            </td>

        </tr>
    </table>
    <div class="button-section">
        <input  type="hidden" id="" name="">

        <button type="submit" class="button">Speichern</button>
    </div>
</form>

<div th:include="navigation :: footer"></div>
</body>
</html>
