<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css">
    <script th:src="@{../resources/css/js/search.js}"
          src="../resources/css/js/search.js"> </script>

    <meta charset="UTF-8">



    </head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <div class="header-title">
        <h1>Vorpächterliste</h1>
    </div>

<!--unicode by: https://www.compart.com/de/unicode/U+1F50D -->
       <center>
           <input class="text_bgImage" type="text"  id="myInput" onkeyup="myFunction()" placeholder="&#128269; Suche nach Pächter">
       </center>

        <div><br>
            <table  id="myTable">


       <thead>
        <tr>
            <th >ID</th>
            <th>Email</th>
        </tr>
       </thead>
      <tbody th:remove="all-but-first">

       <tr  th:each="tenant : ${preTenantList}">


            <td th:text="${tenant.id}">1</td>

            <td th:text="${tenant.email}">Paul </td>



        </tr>



      </tbody>
    </table>


<div th:include="navigation :: footer"></div>
</body>
</html>
