<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title>Parzelle hinzufügen</title>
</head>
<body>
    <nav th:include="navigation :: navigation"/>

    <div class="header-title">
        <h1>Parzelle hinzufügen</h1>
    </div>

    <div>
        <form method="post" role="form" class="plotRegistration" id="form" th:action="@{/createPlot}" th:object="${form}">
            <h3 style="font-size: 25px">Parzellendaten</h3>createPlot

            <table class="plotTable">
                <tr>
                    <td><label for="size">Größe</label></td>
                    <td><input id="size" name="size" th:field="*{size}" type="number" required="required"/></td>
                </tr>
                <tr>
                    <td><label for="identificator">Nummer</label></td>
                    <td><input id="identificator" name="identificator" th:field="*{indicator}" type="number" required="required"/></td>
                </tr>
                <tr>
                    <td><label for="description">Beschreibung</label></td>
                    <td><input id="description" name="description" th:field="*{description}" type="text" required="required"/></td>
                </tr>
            </table>
            <button type="submit">Neue Parzelle hinzufügen</button>
            <br/>
            <br/>
        </form>
    </div>
</body>
</html>
