<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Rechnung</title>
</head>

<body>
<h1>Rechnung</h1>

<table class="ui celled table">
    <thead>
    <tr>
        <th scope="col" th:text = "Name"> Name </th>
        <th scope="col" th:text = "Price"> Price </th>

        <th></th>
    </tr>
    </thead>

    <tbody th:remove="all-but-first">
    <tr th:each=" fee : ${feeCatalog}">
        <td scope="row" th:text="${fee.name}">Name</td>
        <td th:text="${fee.prices}">Price</td>
        <th> <a type="button" th:value="${fee.getId()}" th:href="@{/fee/{Id}/edit (Id=${fee.getId()})}">Edit Fee</a></th>
    </tr>
    </tbody>
</table>
<p>
    <!-- <button class="button" onclick="location.href='/fee/add'">create a new Fee</button>-->
     <th> <a type="button" href="addFee.html"th:href="@{/bill/add}"> Create a new Fee </a></th>
</p>

</body>
</html>
