<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link th:href="@{/resources/css/table3.css}" rel="stylesheet"
          href="../static/resources/css/table3.css" type="text/css">

    <title>Freie Parzellen</title>
</head>
<body>
    <nav th:include="navigation :: navigation"/>
    <div class="header-title">
        <h1>Freie Parzellen</h1>
    </div>
    <div align="center">
        <h2>Freie Plots</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Größe</th>
            <th>Beschreibung</th>
        </tr>
        <tbody th:remove="all-but-first">

        <tr th:each="plot : ${freePlots}">

            <td th:text="${plot.name}">Identifikator</td>
            <td th:text="${plot.size}">20</td>
            <td th:text="${plot.description}">Beschreibung</td>
        </tr>
        </tbody>
    </table>
    </div>
    <br/>
    <br/>
    <br/>
    <div align="center">
        <h2>Vergebene Plots</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Größe</th>
                <th>Beschreibung</th>
            </tr>
            <tbody th:remove="all-but-first">

            <tr th:each="plot : ${takenPlots}">

                <td th:text="${plot.name}">Identifikator</td>
                <td th:text="${plot.size}">20</td>
                <td th:text="${plot.description}">Beschreibung</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
