<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../static/resources/css/style.css" rel="stylesheet"
          th:href="@{/resources/css/style.css}" type="text/css"/>

    <title>neue Gebühr erstellen</title>
</head>
<body>
<nav th:include="navigation :: navigation"/>
<div class="header-title">
    <h1>neue Gebühr hinzufügen</h1>
</div>
<div class="plotRegistration">

    <form method="post" th:action="@{/fees/add}" th:object="${feeForm}">
        <table class="plotTable">
            <tr>
                <td><label>Titel</label></td>
                <td><input th:field="*{title}" type="text"></td>
            </tr>
            <tr>
                <td><label>Menge</label></td>
                <td><input min="0" step="0.01" th:field="*{count}" type="number"></td>
            </tr>
            <tr>
                <td><label>Basispreis</label></td>
                <td><input min="0" step="0.01" th:field="*{basePrice}" type="number"></td>
            </tr>
        </table>


        <button class="button" type="submit">neue Gebühr erstellen</button>
    </form>
</div>
</body>
</html>
