<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{../resources/css/style.css}" type="text/css"/>
    <link href="../resources/css/tenantTable.css" rel="stylesheet"
          th:href="@{../resources/css/tenantTable.css}" type="text/css">

    <meta charset="UTF-8">
    <title>Bill</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Rechnungen</h1>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>Rechnungen</th>
            <th>Herunterladen</th>
            <th>Per Email schicken</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">

        <tr th:each="procedure : ${procedures}">
            <td><label th:text="${procedure.getYear()}"> Paul</label></td>
            <td>
                <form method="post" th:action="@{/PDF}">
                    <div>
                        <input id="procedureId" name="procedureId" th:value="${procedure.getId()}" type="hidden">
                        <button class="button" style="width: 50px" type="submit"> &#10515;</button>
                    </div>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/send-by-email}">
                    <div>
                        <input id="procedureId" name="procedureId" th:value="${procedure.getId()}" type="hidden">
                        <input id="plotId" name="plotId" th:value="${plot.getId()}" type="hidden">
                        <button class="button" style="width: 50px" type="submit"> &#10515;</button>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<form method="get" sec:authorize="hasAnyRole('Vorstandsvorsitzender', 'Stellvertreter', 'Kassierer')"
      th:action="@{/finalize/{id}(id=${plot.getId()})}">
    <div class="button-section">
        <button class="button" style="display: inline-block;" type="submit">
            Rechnungen abschließen
        </button>
    </div>
</form>

<div th:include="navigation :: footer"></div>
</body>
</html>
