<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link href="../static/resources/css/style.css" rel="stylesheet"
          th:href="@{/resources/css/style.css}" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <title>Edit Fee</title>
</head>

<nav th:include="navigation :: navigation"/>
<div class="plotRegistration">
    <div class="header-title">
        <h1>Gebühr bearbeiten</h1>
    </div>
    <form method="post" th:action="@{/fees/{id}/edit (id=${fee.getId()})}" th:object="${fee}">

        <table class="plotTable">
            <tr>
                <td><label>Titel</label></td>
                <td><input th:field="*{title}" type="text"></td>
            </tr>
            <tr>
                <td><label>Menge</label></td>
                <td><input min="0" step="0.01" th:field="*{count}" type="number"></td>
            </tr>
            <tr>
                <td><label>Basispreis</label></td>
                <td><input min="0" step="0.01" th:field="*{basePrice}" type="number"></td>
            </tr>

        </table>

        <button type="submit">Gebühr bearbeiten</button>
    </form>
</div>
</body>
</html>
