<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{../resources/css/style.css}" type="text/css"/>
    <link href="../resources/css/tenantTable.css" rel="stylesheet"
          th:href="@{../resources/css/tenantTable.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Procedure</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <div class="header-title">

        <div class="plotRegistration">
            <div class="header-title">

                <h1>Edit Watercount</h1>
            </div>
            <form method="post" th:action="@{}" th:object="${procedure}">

                <table class="plotTable">

                    <tr>
                        <th>Plot Number</th>
                        <td th:text="${procedure.getPlotId()}"></td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td th:text="${procedure.getYear()}"></td>
                    </tr>
                    <tr>
                        <th>Watercount</th>
                        <th><input min="0" step="0.01" th:field="*{procedure.getWatercount()}" type="number"></th>
                    </tr>

                </table>
                <button type="submit">Edit Watercount</button>
            </form>
        </div>
</body>
</html>
