<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../static/resources/css/style.css" rel="stylesheet"
          th:href="@{/resources/css/style.css}" type="text/css"/>
    <link href="../static/resources/css/table.css" rel="stylesheet"
          th:href="@{/resources/css/table.css}" type="text/css">

    <title>Fee</title>
</head>
<body>
<nav th:include="navigation :: navigation"/>
<center>
    <div class="header-title">
        <h1>Fee</h1>
    </div>

    <div class="plotRegistration">
        <table class="ui celled table">
            <thead>
            <tr>

                <th>Title</th>
                <th>Mengen</th>
                <th>Basispreis</th>
                <th>Preis</th>
                <th></th>
                <th></th>


            </tr>
            </thead>

            <tbody th:remove="all-but-first">
            <tr th:each=" fee : ${feeList}">
                <td th:text="${fee.title}">Title</td>
                <td th:text="${fee.count}">Count</td>
                <td th:text="${fee.basePrice}">Basispreis</td>
                <td th:text="${#numbers.formatDecimal(fee.price, 0, 2)}">Preis</td>
                <td>
                    <a method="get" th:href="@{/fees/{id}/delete (id=${fee.id})}" th:value="${fee.getId()}"
                       type="ui-button">Löschen</a>
                </td>
                <td>
                    <a th:href="@{/fees/{id}/edit (id=${fee.getId()})}" th:value="${fee.getId()}" type="ui-button">Bearbeiten</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <tr>
            <td colspan="4"/>
            <td>Summe: <b th:text="${#aggregates.sum(feeList.![price])}"/></td>
        </tr>
        µ
    <div class="button-section">
        <button class="button" onclick="location.href='fees/add'">neue Gebühr erstellen</button>
    </div>

    </p>
</center>
</body>
</html>
