@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 120%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}



.modal-window h1 {
    font-size: 200%;
    margin: 0 0 15px;
}
@keyframes example {
    0%   {opacity: 0;}
    02%  {opacity: 0;}
    03%  {opacity: 1;}
    99%  {opacity: 1;}
    100% {opacity: 0;}
}
#open-modal {
    animation-name: example;
    animation-duration: 20s;
    animation-delay: 0s;
}

.button{
    /*margin-left: 30px; */
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: #E44652;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border: 0;
    box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);

}
.button-section{
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

