@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;


}
footer {
	position: fixed;
	padding: 10px;
	bottom: 0px;
	left: 0;
	right: 0;
	color: white;
	background: #043353;
	width: 100%;



}
#overlay img{
	background: rgba(2,20,33,0.5);
	bottom: 0;
	height: 180px;
}

.header-title h1{
	font-size: 40px;
	text-align: center;
}

.news-section table{
	margin: 0 auto;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size:20px;


}

.news-section img{
	grid-area: pic;
	margin-left: 100px;
}
.news-section h2{
	grid-area: news;
}


input.fieldError {
	border-color:red !important;
	box-shadow:0 0 10px red !important;
}

img.thumbnail {
	margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}

h1 {
	color: #043353;
	font-size: 60pt;

}
p {
	color: black;
	font-size: 18pt;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

ul {
	margin-top: -8px;
	padding: 0;
	overflow: hidden;
	background-color: #043353;
	list-style: none;
	text-align:center;

}

li {
	display: inline;
}

li a {
	display:inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
a {
    color: black;
    text-decoration: none;

}

.login a{
	float: right;
}

li a:hover {
	background-color: white;
	color: #043353;
}


ul li ul {

	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
	margin: 3.3em 30em 0em 30em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: inline-block;

}

ul li ul li {
	clear: both;
	width: 100%;}




.event-pics{
	height: 300px;
	width: 500px;

}

.button-section{
	margin-top: 30px;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.button{
	/*margin-left: 30px; */
	color: white;
	transition: all 0.5s ease-in-out;
	background-color: #E44652;
	border-radius: 10px;
	font-size: 20px;
	height: 50px;
	width: 150px;
	border: 0;
	box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);

}


.button1{
	margin-left: 30px;
	color: white;
	transition: all 0.5s ease-in-out;
	background-color: #043353;
	font-size: 20px;
	height: 53px;
	width: 80px;
	border: 0;
	box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);}


.button1:hover{
	background-color: white;
	color: #043353;

}



.button:hover{
	background-color: #043353;
	color: white;
	height: 55px;
	width: 160px;
}

.plotRegistration{
	text-align: center;
	margin-top: 70px;
}

.plotRegistration .appointment-form  table{
	margin: 0 auto;
}

.plotRegistration .appointment-form table td label{
	font-size: 21px;
	color: #043353;
	margin-right: 20px;

}

.plotRegistration .appointment-form table td input{
	margin-top: 20px;
	border-radius: 20px;
	height: 25px;
	width: 300px	;
	border: 2px solid #043353;
	display:inline;
	background:none;
	color:#043353;
	font-size: 15px;
	padding: 5px;
	box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);
}
.plotRegistration table td select{
	margin-top: 20px;
	border-radius: 20px;
	height: 35px;
	width: 300px;
	border: 2px solid #043353;
	display:inline;
	background:none;
	color: #043353;
	font-size: 15px;
	padding: 5px;
	box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.plotRegistration button{
	margin-top: 40px;
	margin-left: 30px;
	color: white;
	transition: all 0.5s ease-in-out;
	background-color: #E44652;
	border-radius: 10px;
	font-size: 20px;
	height: 50px;
	width: 300px;
	border: 0;
	box-shadow: 0px 0px 34px -23px rgba(0,0,0,0.75);
}

.plotRegistration button:hover{
	background-color: #CED8F6;
	color: white;
	height: 55px;
	width: 320px;
}
input.text_bgImage {
	width: 300px;
	height: 25px;
	border-radius: 20px;
	padding: 0;
    font-size: 15px;




}


.plotOverview {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-top: 30px;
	padding: 10px;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

.plot{
	width: 35vh;
	height: 20vh;
	background-color: grey;
	font-size: 30px;
	padding: 30px;
	text-align: center;
	color: white;
	border: 3px solid #A1887F;
}
@media only screen and (max-width: 600px) {

	.plot {
		width: 15vh;
		height: 5vh;
		background-color: grey;
		font-size: 30px;
		padding: 30px;
		text-align: center;
		color: white;
	}
}

#suche {
	border: 2px solid #999;
	border-radius: 0.5em;;
	font-size: 1.2em;
	width: 10em;
	transition: width 0.5s ease-in-out;
}

#suche:focus {
	font-size: 1.5em;
	width: 50%;
}

#deleteTH{
	text-align: center;
}
#styleTheDeleteButton{
	color: red;
}
