@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

thead{background-color: #043353;
    color: white;}
tbody{background-color:#CED8F6;}
th, td{
    vertical-align: top;
    text-align: left;
    padding: 0.5em 1em;}

th{background-color: #043353;
    color: white;
}
table{
    margin-left:auto;
    margin-right: auto;
}
tbody tr:nth-child(even){background-color: #EFF2FB}
