<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/semantic.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}" type="text/css"/>
    <link href="../resources/css/style.css" rel="stylesheet"
          th:href="@{/resources/css/style.css}" type="text/css"/>

    <title>Navigation</title>
</head>
<body>
<nav th:fragment="navigation">
    <div id="overlay">

        <img alt="kleingarten" height="10%" src="../resources/css/pics/kleingarten.jpg" width="100%"/>
    </div>

    <ul>


        <li><a href="news/home.html" th:href="@{/}">Home</a></li>
        <li><a href="plot/plotOverview.html" th:href="@{/anlage}">Anlage</a>
            <ul sec:authorize="isAuthenticated()">
                <li><a th:href="'/anlage'">Allgemein</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="'/chairmenOverview'">nach Obmann</a></li>
            </ul>
        </li>
        <li><a href="#" sec:authorize="isAuthenticated()">Meine Parzelle</a>
            <ul>
                <li><a href="plot/myPlot.html" sec:authorize="isAuthenticated()" th:href="@{/myPlot}">Meine Daten</a>
                </li>
                <li><a href="tenant/changePassword.html" sec:authorize="isAuthenticated()" th:href="@{/changePassword}">Passwort
                    ändern</a></li>
                <li><a href="tenant/changeEmail.html" sec:authorize="isAuthenticated()" th:href="@{/changeEmail}">Email
                    ändern</a></li>
            </ul>
        </li>
        <li><a href="#" sec:authorize="hasAnyRole('Vorstandsvorsitzender,Stellvertreter')">Termine</a>
            <ul>
                <li><a href="" th:href="@{/createAssignment}">Termin erstellen</a></li>
                <li><a href="" th:href="@{/listOfAssignments}">Termine einsehen</a></li>

            </ul>
        <li><a href="" sec:authorize="hasAnyRole('Obmann')" th:href="@{/listOfAssignments}">Termine einsehen</a></li>
        <li><a href="complains/complains.html" sec:authorize="isAuthenticated()"
               th:href="@{/complaints}">Beschwerden</a></li>
        <li><a href="tenant/tenants.html" sec:authorize="hasAnyRole('Vorstandsvorsitzender, Stellvertreter')"
               th:href="@{/tenants}"> Mitglieder</a></li>
        <li style="float:right"><a href="login.html" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

            <form method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
                <button class="button1"
                        type="submit">Logout
                </button>
            </form>


        </li>


    </ul>
</nav>

</div>
<div th:fragment="footer">
    <br><br><br>
    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">Copyright © 2019</div>


    </footer>
</div>
</body>
</html>
