<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css">

    <meta charset="UTF-8">

    <title>Complaints</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Beschwerden</h1>
</div>

<center>
    <form method="post">
        <table id="complaints-table">
            <thead>
            <tr>
                <th>gegen</th>
                <th>von</th>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th>Status</th>
                <th>zugeordneter Obmann</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${complaints}">
                <td>
                    <a th:text="'Plot ' + ${c.plot.getName()}" th:href="'/plot/' + ${c.plot.getId().toString()}">gegen</a>
                </td>
                <td th:text="${c.complainant.getFullName()}">von</td>
                <td th:text="${c.subject}">Titel</td>
                <td th:text="${c.description}">Beschreibung</td>
                <td th:text="${c.state}">Status</td>
                <td th:text="${c.assignedObmann.getFullName()}">zugeordneter Obmann</td>
            </tr>
            </tbody>
        </table>
    </form>
</center>

<div th:include="navigation :: footer"></div>
</body>
</html>
