<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{../resources/css/style.css}" rel="stylesheet"
          href="../resources/css/style.css" type="text/css"/>
    <link th:href="@{../resources/css/tenantTable.css}" rel="stylesheet"
          href="../resources/css/tenantTable.css" type="text/css">
    <meta charset="UTF-8">
    <title>Beschwerde schreiben</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<div class="header-title">
    <h1>Beschwerde bearbeiten</h1>
</div>
<form method="post" role="form" id="form" th:action="@{/update-complaint/{id}(id=${complaint.id})}">
    <table>
        <tr>
            <th>
                <label for="state">Zustand</label>
            </th>
            <td id="state" th:text="${complaint.state}">Zustand</td>
        </tr>
        <tr>
            <th>
                <label for="assigned-obmann">zugeordneter Obmann</label>
            </th>
            <td id="assigned-obmann" th:text="${complaint.assignedObmann.getFullName()}">zugeordneter Obmann</td>
        </tr>
        <tr>
            <th>
                <label for="plot-tenants-name">Name des Angeklagten</label>
            </th>
            <td id="plot-tenants-name" th:text="${plotTenants}">Name des Angeklagten</td>
        </tr>
        <tr>
            <th>
                <label for="subject">Grund der Beschwerde</label>
            </th>
            <td>
                <input class="text_bgImage" id="subject" name="subject" type="text" th:value="${complaint.subject}"
                       required="required"/>
            </td>
        </tr>
        <tr>
            <th>
                <label for="description">Beschreibung</label>
            </th>
            <td>
                <textarea id="description" name="description" cols="45" rows="8" th:text="${complaint.description}"
                          th:value="${complaint.description}" required="required"></textarea>
            </td>
        </tr>
    </table>
    <div class="button-section">
        <button type="submit" class="button">Beschwerde abschicken</button>
    </div>
</form>
<form method="post" style="display: inline-block" th:action="@{/change-complaint-state/{id}(id=${id})}">
    <button class="button">Zustand ändern</button>
</form>

<div th:include="navigation :: footer"></div>
</body>
</html>


